<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign In Form</title>
    <link rel="stylesheet" href="/assets/css/login-style.css" />
</head>
<body>
<div class="main">
    <a th:href="@{/admin/v1/homePage}" class="back-btn"><i class="fa-solid fa-chevron-left"></i>Back</a>
    <section class="sign-in">
        <div class="container">
            <div class="signin-content display-flex">
                <div class="signin-image">
                    <figure>
                        <img src="/assets/images/signin-image.jpg" alt="sign in image" />
                    </figure>
                    <a th:href="@{/admin/v1/register-customer}" class="signup-image-link">Create an account</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Sign in</h2>
                    <form class="register-form" id="login-form" th:action="@{/admin/v1/login-customer}" th:object="${customerlogin}" method="POST">
                        <div class="form-group">
                            <label for="your_email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input th:field="${customerlogin.email}" type="email" name="your_email" id="your_email" placeholder="Your email" required />
                            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email is not valid</div>
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input th:field="${customerlogin.password}" type="password" name="your_pass" id="your_pass" placeholder="Password" required />
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" class="form-submit" value="Log in" />
                        </div>
                        <div th:if="${error != null}">
                            <p th:text="${error}" class="text-danger"></p>
                        </div>

                        <div class="login-item d-flex flex-column align-items-end">
                            <a th:href="@{/admin/v1/forgot-password}" class="link-forgot-password">Forgot Password ?</a>
                            <div class="w-100 h-100 d-flex justify-content-center align-items-end">
                                <p th:if="${errorLogin != null}"
                                   th:text="${errorLogin}"
                                   class="input-text-error"></p>
                                <p th:if="${messageNewPassword != null}"
                                   th:text="${messageNewPassword}"
                                   class="text-info fw-bold"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>